@font-face {
    font-family: Roboto condensed;
    src: url(fonts/RobotoCondensed-VariableFont_wght.ttf);
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: hsl(203, 100%, 11%);
    font-family: roboto condensed;
    color: whitesmoke;
}
.container{
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
}
.container h1{
    font-size: 3em;
    font-weight: normal;
    padding-bottom: 10px;
}
.container h1 span{
    color: hsl(152, 95%, 23%);
    border-bottom: 5px solid hsl(152, 95%, 23%);
    padding-bottom: 3px;
}
.display{
    display: flex;
    align-items: center;
    justify-content: center;
}
#input{
    font-size: 2em;
    padding: 15px;
    margin-left: 10px;
    border-radius: 10px;
    color: black;
    border: 5px solid black;
    background-color: lightgray;
    margin: 30px;
    overflow: hidden;
}
#copyImage{
    cursor: pointer;
    position: absolute;
    left: 400px;
    width: 40px;
}
#copyImage:hover{
    width: 50px;
}
#button{
    background-color: hsl(152, 95%, 23%);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: whitesmoke;
    font-weight: bold;
    padding: 10px;
    margin-left: 30px;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
#button:hover{
    background-color: hsl(152, 54%, 27%);
    font-size: 1.3em;
}
#button img{
    width: 20px;  
}